<!DOCTYPE html>
<html lang="ko">
<head>
	<title>QUES</title>
	<meta charset ='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css'  href='../static/css/common.css'>
	<link rel='stylesheet' type='text/css'  href='../static/css/top.css'>
</head>
<body>
	<div id="after_submit">
		<div class="close"></div>
		<div class="after_submit_content">
		성실한 답변 감사합니다.<br>
		설문결과를 확인하시겠습니까?
		</div>
		<div class="after_submit_button">
			네, 지금 확인하고 싶어요
		</div>
	</div>

	<div id="send-mail">
		<div class="close">
		</div>
		<div class="after-mail-content">임시 비밀번호가 전송되었습니다.<br>메일을 확인해주세요.</div>
		<div class="after-mail-button">다시 로그인 하러가기</div>
	</div>
	<!--메인 페이지에서 보여줄 팝업이기에 css는 top.css-->
</body>
</html>
