<!DOCTYPE html>
<html>
<head>
	<title>HIMS</title>
	<meta charset="UTF-8">
	
	<link href="../static/css/common.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">

	<script src='../static/js/jquery-1.9.1.min.js'></script>
	<script src="../static/js/fb.js"></script>
	<script src="../static/js/common.js"></script>

</head>

<body>

	<div id="login-wrapper">
		<div class="content">
			<span class="intro-hims">HIMS</span>
			<span class="intro-msg">Hotel Inteligent Management System</span><br><br>
		</div>
		<form action="login" method="post" class="new_user" id="new_user">
			<input type="text" id="id" name="id" placeholder="ID">
			<input id="user_password" type="password" name="password" placeholder="Password">
			<input type="submit" value="login" id="submit_join" class="btn_login">
		</form>
		<a href="signup"><span class="login-help">Need help?</span></a>
	</div>
	
</body>

</html>
