<!DOCTYPE html>
<html lang="ko">
<head>
	<title>QUES</title>
	<meta charset ='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css'  href='../static/css/top.css'>
</head>
<body>
	<header class="header_wrapper">
		<nav id="navbar">
			<div class="nav_icon">큐스</div>
			<div class="profile">
				<!--<div style="backgound-image:url('유알엘')" 로 변경가능(프로필 사진 url)>-->
				<div class="profile_image"></div>
				<div class="profile_name"><!--이름 불러와야해-->MansooShin</div>
				<div class="logout">로그아웃</div><!--로그아웃 콜-->
			</div>
			<a href="#"><div class="create">설문만들기</div></a>
		</nav>
		<div class="main_title">설문을<br>만들고<br>이용하세요.
		</div>
	</header>
</body>
</html>
